.thought-1 {
    font-size: 25px;
    font-family: 'Cute Font', cursive;
}

.thought-2 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.thought-3 {
    line-height: 20px;
    font-family: 'Dancing Script', cursive;
}